//开始节点颜色（申请人）
$approve-flow-start-color: #7367f0 !default;
//条件颜色
$approve-flow-condition-color: #82868b !default;
//审核人颜色
$approve-flow-approver-color: #ff9f43 !default;
//抄送者颜色
$approve-flow-notifier-color: #00cfe8 !default;
//结束节点颜色
$approve-flow-end-color: #ffffff !default;

//容器背景色
$approve-flow-background-color: #f8f9fb !default;
//线条颜色
$approve-flow-line-color: #dbdbdb !default;
//箭头颜色
$approve-flow-arrow-color: #dbdbdb !default;
//错误颜色
$approve-flow-error-color: #ea5455 !default;
